<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../vue.js"></script>
</head>
<body>
<div id="target">
    <input type="text" v-model="input_value">
    <input type="button" value="提交" @click="addToDo">
    <ul>
        <todo_item
            v-for="(item, index) of arr"
            :key="index"
            :content="item"
            :index="index"
            @delete="delete_todo"
        >
        </todo_item>
    </ul>
</div>

<script type="text/javascript">
    Vue.component('todo_item', {
        props: ['content', 'index'],
        template: '<li @click="todo_click">{{content}}</li>',
        methods: {
            todo_click: function () {
                this.$emit('delete', this.index)
            }
        }
    });

    new Vue({
       el: "#target",
       data:{
           input_value: '',
           arr: []
       },
       methods:{
           addToDo: function () {
               this.arr.push(this.input_value);
               this.input_value = '';
           },
           delete_todo: function (index) {
               this.arr.splice(index, 1);
           }
       }
    });
</script>
</body>
</html>