<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="root">
        <div id="test">大括号数据绑定：{{msg}}</div>
        <div :title="attr_title">hello world</div>
        <div></div>

        v-model双向绑定：
        <input type="text" v-model="input_value"/>
        <div id="input_value_text">{{input_value}}</div>
        <div></div>

        计算属性：
        姓<input type="text" v-model="last_name"/>
        名<input type="text" v-model="first_name"/>
        <div>输入的名字是: {{full_name}}</div>
        <div>修改次数为: {{count}}</div>
        <div></div>

        v-if, v-show区别:
        <div>v-if:删除、添加DOM。</div>
        <div v-if="v_if">v-if!</div>
        <input type="button" value="点我" @click="v_if_click">
        <div>v-show：添加display-none属性，隐藏显示。</div>
        <div v-show="v_show">v-show!</div>
        <input type="button" value="点我" @click="v_show_click">
        <div></div>

        v-for:
        <div v-for="(item, index) of v_for_arr" :key="index">{{item}}</div>
    </div>
<script type="text/javascript">
    new Vue({
        el: "#root",
        data:{
            msg: 'hi',
            attr_title: "this is attr title",
            input_value: "初始化",
            first_name: "",
            last_name: "",
            count: 0,
            v_show: true,
            v_if: true,
            v_for_arr: [1,2,3,4]
        },
        computed: {
            full_name: function () {
                return this.last_name + ' ' + this.first_name
            }
        },
        watch: {
            full_name: function () {
                this.count ++;
            }
        },
        methods: {
            v_show_click: function () {
                this.v_show = !this.v_show;
            },
            v_if_click: function () {
                this.v_if = !this.v_if;
            }
        }
    })
</script>
</body>
</html>